<%= form_for [course, session] do |form| %>
  <% if session.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h5><%= pluralize(session.errors.count, "error") %> prohibited this session from being saved:</h5>

      <ul>
        <% session.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_field :description, id: :session_description, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :location %>
    <%= form.text_field :location, id: :session_location, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :when %>
    <div class="field form-row">
      <!--    <div class="col">-->
      <%= form.datetime_select :when, {id: :session_when}, {class: "form-control w-25 col"} %>
      <!--    </div>-->
    </div>
  </div>


    <%= form.hidden_field :course_id, id: :session_course_id %>


  <div class="actions form-group">
    <%= form.submit(class: "btn btn-primary") %>
  </div>
<% end %>
