<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @session.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @session.location %>
</p>

<p>
  <strong>Starts:</strong>
  <%= @session.when %>
</p>
<p>
  <strong>Ends:</strong>
  <%= @session.ends %>
</p>
<p>
  <strong>Course:</strong>
  <%= @session.course_id %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
