<p id="notice"><%= notice %></p>

<h1><%= teacher_signed_in? ? "My " : "" %>Courses</h1>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Ctype</th>
    <th scope="col">Description</th>
    <th scope="col">Ects</th>
    <th scope="col">Signups</th>
    <th scope="col">Limit</th>
    <th scope="col" colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.name %></td>
      <td><%= course.ctype %></td>
      <td><%= course.description %></td>
      <td><%= course.ects %></td>
      <td><%= course.signups.count %></td>
      <td><%= course.limit %></td>
      <td><%= link_to 'Show', course %></td>
      <% if teacher_signed_in? && course.teacher == current_teacher%>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<% if teacher_signed_in? %>
  <%= link_to 'New Course', new_course_path %>
<% end %>