<h1>Course details</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Ctype:</strong>
  <%= @course.ctype %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Ects:</strong>
  <%= @course.ects %>
</p>

<p>
  <strong>Signups/Limit:</strong>
  <%= "#{@course.signups.count} / #{@course.limit}" %>
</p>

<% if teacher_signed_in? && @course.teacher == current_teacher %>
<%= link_to 'Edit', edit_course_path(@course) %> |
  <%end %>
<%= link_to 'Back', courses_path %>

<h1>Sessions</h1>
<table>
  <tr>
    <th>When</th>
    <th>Location</th>
    <th>Description</th>
  </tr>
<% @course.sessions.each do |session| %>
    <tr>
      <td><%= session.when %></td>
      <td><%= session.location %></td>
      <td><%= session.description %></td>
    </tr>
<% end %>
</table>
<% if teacher_signed_in? && @course.teacher == current_teacher %>
  <%= link_to 'Add new session', new_course_session_path(@course) %>

<h1>Students</h1>
<table>
  <tr>
    <th>ID</th>
    <th>First name</th>
    <th>Last name</th>
  </tr>
  <% @course.signups.each do |signup| %>
    <tr>
      <td><%= signup.snum %></td>
      <td><%= signup.first %></td>
      <td><%= signup.last %></td>
    </tr>
  <% end %>
</table>

<% end %>