<h1>Course details</h1>
<p id="notice"><%= notice %></p>

<table class="table">
  <tr>
    <td>Name:</td>
    <td><%= @course.name %></td>
  </tr>
  <tr>
    <td>Teacher:</td>
    <td><%= "#{@course.teacher&.first} #{@course.teacher&.last}" %></td>
  </tr>
  <tr>
    <td>Ctype:</td>
    <td><%= @course.ctype %></td>
  </tr>

  <tr>
    <td>Description:</td>
    <td><%= @course.description %></td>
  </tr>

  <tr>
    <td>Ects:</td>
    <td><%= @course.ects %></td>
  </tr>

  <tr>
    <td>Signups/Limit:</td>
    <td><%= "#{@course.signups.count} / #{@course.limit}" %></td>
  </tr>

</table>

<% if teacher_signed_in? && @course.teacher == current_teacher %>
  <%= link_to 'Edit', edit_course_path(@course) %> |
<% end %>
<%= link_to 'Back', courses_path %>

<h1>Sessions</h1>
<table class="table">
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Location</th>
    <th>Description</th>
    <th>Delete</th>
  </tr>
  <% @course.sessions.each do |session| %>
    <tr>
      <td><%= session.when %></td>
      <td><%= session.ends %></td>
      <td><%= session.location %></td>
      <td><%= session.description %></td>
      <td><%= button_to 'Remove', course_session_path(@course, session), method: :delete, class:'btn btn-danger' %></td>
    </tr>
  <% end %>
</table>
<% if teacher_signed_in? && @course.teacher == current_teacher %>
  <%= link_to 'Add new session', new_course_session_path(@course) %>

  <h1>Students</h1>



  <table class="table">

    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Kick from course</th>
    </tr>

    <% @course.signups.each do |signup| %>
      <tr>
        <td><%= signup.snum %></td>
        <td><%= signup.first %></td>
        <td><%= signup.last %></td>
        <td><%= button_to 'Remove', teacher_drop_path,params: {course_id: @course.id, snum: signup.snum}, class:'btn btn-danger' %></td>
      </tr>

    <% end %>

  </table>

  <%= form_with url: id_signup_path do |form| %>
    <div class="field form-group">
      <%= form.label :student_id, 'Add student by ID' %>
      <%= form.number_field :student_id, id: :student_id, class: "form-control w-25" %>
    </div>
    <%= form.submit(class: "btn btn-primary") %>

    <%= form.hidden_field :course_id, value: @course.id %>

  <% end %>



<% end %>