<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Ctype:</strong>
  <%= @course.ctype %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Ects:</strong>
  <%= @course.ects %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @course.limit %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
