<!DOCTYPE html>
<html>
<head>
  <title>Teachersystem</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-collapse" >
    <a class="navbar-brand">Teacher System</a>
    <div class="navbar-nav mr-auto">
      <% if teacher_signed_in? %>
        <%= link_to 'My courses', courses_path, class: "nav-item nav-link" %>
        <%= link_to 'Profile', profile_path, class: "nav-item nav-link" %>


      <% else %>
        <%= link_to 'Browse courses', courses_path, class: "nav-item nav-link" %>
        <%= link_to 'List of teachers', teachers_path, class: "nav-item nav-link" %>
      <% end %>
    </div>
    <div class="navbar-nav">
      <% if teacher_signed_in? %>
        <span class="navbar-text">Signed in as <%= current_teacher.email %>. </span><%= link_to 'Sign out', destroy_teacher_session_path, method: :delete, class: "nav-item nav-link" %>
      <% else %>
        <span class="navbar-text">Visiting as a guest.</span> <%= link_to 'Teacher login', teacher_session_path, class: "nav-item nav-link" %>
      <% end %>
    </div>
  </div>
<!--  <div class="collapse navbar-collapse order-2">-->

<!--  </div>-->
</nav>

<div class="container">
  <%if notice %><div class="alert alert-primary"><%= notice %></div> <% end %>
  <%if alert %><div class="alert alert-danger"><%= alert %></div> <%end %>
  <%= yield %>
</div>

</body>
</html>
