<!DOCTYPE html>
<html>
<head>
  <title>Teachersystem</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="navbar">
  <% if teacher_signed_in? %>
    <%= link_to 'My courses', courses_path %> |
    <%= link_to 'Profile', show_teacher_path %> |

    Signed in as <%= current_teacher.email %>. <%= link_to 'Sign out', destroy_teacher_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Browse courses', courses_path %> |

    Visiting as a guest.
  <% end %>
</div>

<div class="content">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>

</body>
</html>
